.page_aticle.aticle_type2 .page_section {
    float: right;
    width: 820px;
}
.page_aticle .head_aticle {
    padding: 5px 0 34px;
}
.page_aticle .head_aticle .tit {
    height: 36px;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color: #333;
    letter-spacing: -.5px;
}
.xans-board-write .boardWrite2 {
    table-layout: fixed;
    border-top: 2px solid #333;
    line-height: 180%;
}
.xans-board-write table th {
    width: 110px;
    padding: 15px 0 15px 20px;
    background-color: #f7f5f8;
    border-bottom: 1px solid #f4f4f4;
    text-align: left;
    font-weight: 400;
    vertical-align: middle;
}